html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #292929;
  color: #d0d0d0;
  font-family: Avenir, Helvetica, sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: 300;
  font-size: 3em;
  margin: 20px 0;
}

input[type='text'] {
  width: 100%;
  padding: 16px;
  font-style: italic;
  background-color: #292929;
  border: 1px solid #d0d0d0;
  color: #d0d0d0;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  margin-top: 20px;
}

li {
  margin: 20px 0;
  padding: 10px 0;
}

li:hover button {
  visibility: visible;
}

li.completed label {
  text-decoration: line-through;
}

input[type='checkbox'] {
  margin-right: 10px;
}

label {
  font-size: 1.5em;
}

button {
  visibility: hidden;
  border: none;
  float: right;
  color: #d0d0d0;
  font-size: 1.5em;
  background-color: #292929;
}
